.done {
	text-decoration: line-through;
}
.deleted {
	color: red;
}

.titleSpan {
	display: inline-block;
	width: 200px;
}

.doSelectedItems {
	background-color: green;
	margin-right: 10px
}

.deleteSelectedItems {
	background-color: red;
}

.imgButton {
	cursor: pointer;
	margin:7px; 
}