.done {
	text-decoration: line-through;
}
.deleted {
	color: red;
}

.titleSpan {
	display: inline-block;
	width: 200px;
}

.actionButton {
	margin-right: 10px;
}
.doSelectedItems {
	background-color: green;
}
.deleteSelectedItems {
	background-color: red;
}
.selectAll {
	background-color: rgb(0, 119, 255);
}

.imgButton {
	cursor: pointer;
	margin:7px; 
}

.undeleteSelectedItems {
	background-color: yellow;
}